{% extends "base_generic.html" %}

{% block content %}

  <script type="text/javascript">
  function saveTransaction(){
    // alert("Transaction Saved")
    pass
  }
  </script>

  <h1>BLN Store</h1>
  <p>Welcome to the BLN store {{bkey}}!</p>
   <table style="width:500px">
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Buy</th>
  </tr>
  <tr>
    <td>1 Month Subscription</td>
    <td>$9.00</td>
    <td>
    <a onclick="saveTransaction()">
      {{ subForm1.render}}
    </a>
    </td>
  </tr>
  <tr>
    <td>3 Month Subscription</td>
    <td>$28.00</td>
    <td>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="test@gmail.com">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="item_name" value="Subscription">
      <input type="hidden" name="item_number" value="03">
      <input type="hidden" name="amount" value="28.00">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="button_subtype" value="services">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </td>
  </tr>
</table> 
{% endblock %}