{% extends "base_generic.html" %}

{% block content %}

  <h1>BLN Store</h1>
  <p>Welcome to the BLN store {{bkey}}!</p>
   <table>
   <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Buy</th>
      </tr>
   </thead>
  <tr>
    <td>1 Month Subscription</td>
    <td>$9.00</td>
    <td>
      {{ subForm1.render }}
    </td>
  </tr>
  <tr>
    <td>3 Months Subscription</td>
    <td>$27.00</td>
    <td>
      {{ subForm1.render }}
    </td>
  </tr>
</table> 
{% endblock %}