{% extends "base_generic.html" %}

{% block content %}

  <div class="title" style="background-color:#949494;padding:1px 10px 20px 20px;margin:0;border:1px solid black">
    <h1>BLN Donation</h1>
  </div>
  <p style="background-color:#eaeaea;margin:0;height:10px;padding:15px 40px;padding-right:0;border-bottom:1px solid grey">Thank's for your support! <b>{{bkey}}</b>!</p>
  {{ ppurl }}
   <table cellspacing="0" style="margin:30px">
   {% comment %} <br/> {% endcomment %}
   <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Buy</th>
      </tr>
   </thead>
  <tr>
    <td>Subscription</td>
    <td>$7.00</td>
    <td>
	{{ btn5c.render }}
    </td>
  </tr>
</table> 
{% endblock %}